h1{
    text-align: center;
}

.mainHeading{
    font-size: 100px;
    padding-top: 50px;
}

/* === TicTacToe === */
.col{
    background-color: lightgray;
    opacity: 100%;
    height: 100px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 100px !important;
    cursor:pointer;
}
.col:hover{
    opacity: 70%;
}

.container{
    width: 300px !important;
    margin-top: 100px;
}

.resetButtonCont{
    text-align: center;
    font-size: 35px;
}

/* === Ultimate TicTacToe === */
.fullBoard{
    background-color: blue;
    text-align: center;
    /* CODE TO MAKE BOARD NOT CHANGE WHEN ZOOMED IN
    width: 500px;
    height: 500px;
    margin-left: 37%; */
}   

.oneBoard{
    background: rgba(233, 14, 6, 0.2);
    display: inline-block;
    padding: 10px;
    border-style: solid;
    border-color: black;
}

.Grid{
    width:40px;
    height: 40px;
    background-color: green;
    vertical-align: top;
}


.u0, .u1, .u2,.u3, .u4, .u5,.u6, .u7, .u8{
    display: inline-block;
}

/* .u0{
    background-color: rgb(0, 128, 0) !important;
} */

.styleWinB0, .styleWinB1, .styleWinB2, .styleWinB3, .styleWinB4, .styleWinB5, .styleWinB6, .styleWinB7, .styleWinB8{
    position: absolute;
    background-color: pink;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 80px;

}

.startText{
    
}