h1{
    text-align: center;
}

.mainHeading{
    font-size: 100px;
    padding-top: 50px;
    color: white;
    font-family: Inter;
}

/* === TicTacToe === */
.col{
    background-color: lightgray;
    opacity: 100%;
    height: 100px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 100px !important;
    cursor:pointer;
}
.col:hover{
    opacity: 70%;
}

.container{
    width: 300px !important;
    margin-top: 100px;
}

.resetButtonCont{
    text-align: center;
    font-size: 35px;
}

/* === Ultimate TicTacToe === */
.htmlUTicTacToe{
    text-align: center;

    /* CODE TO MAKE BOARD NOT CHANGE WHEN ZOOMED IN */
    width: 1000px;
    height: 850px;
    margin-left: 24%; 
    background-color: red;
}   

.oneBoard{
    background: #ffffff2f;
    display: inline-block;
    padding: 10px;
    border-style: solid;
    border-color: black;
}

.Grid{
    width:40px;
    height: 40px;
    background-color: #D9D9D9;
    vertical-align: top;
    color: black;
    
}
.Grid:hover{
    background-color: #D08F53;
}

.u0, .u1, .u2,.u3, .u4, .u5,.u6, .u7, .u8{
    display: inline-block;
}


.styleWinB0, .styleWinB1, .styleWinB2, .styleWinB3, .styleWinB4, .styleWinB5, .styleWinB6, .styleWinB7, .styleWinB8{
    position: absolute;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 80px;
    color: red;

}

/* === Ultimate TicTacToe Turn/Reset Text === */
.startText{
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: Inter;
    background-color: green;
    width: 300px;
    margin-left: 650px;
    margin-top: -250px;

}

/* === Ultimate TicTacToe Page Styling === */
.main{
    background-color: #3D3D3D;
    
}

html{
    background-color: #3D3D3D;
} 

.fullBoard{
    background-color: blue;
    padding-right: 200px;
    height: 450px;
}

