h1{
    text-align: center;
}

.mainHeading{
    font-size: 100px;
    padding-top: 50px;
}

.col{
    background-color: lightgray;
    opacity: 100%;
    height: 100px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 100px !important;
    cursor:pointer;
}
.col:hover{
    opacity: 70%;
}

.container{
    padding-left: 27.4% !important;
    margin-top: 100px;
}

.resetButtonCont{
    text-align: center;
    font-size: 35px;
}